################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mycmd.exe.lnk
/data/*
/.vs/*
